@import "~/styles/_variables.scss";

.orders {
  &__container {
    display: flex;
    flex-direction: column;
    gap: $gap-sm;

    &__details {
      display: flex;
      flex-direction: column;

      label {
        font-weight: 700;
        label {
          font-weight: normal;
        }
      }
    }
  }
}
