@import "~/styles/_variables.scss";

.products {
  &__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);

    &__item {
      transition: all $duration-short;
      &:hover {
        background-color: $primary-yellow-100;
        transform: scale(1.1);
      }
    }
  }
}
