@import "~/styles/_variables.scss";

main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.button-container {
  display: flex;
  justify-content: end;
}

.cart-modal {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
