@import "~/styles/_variables.scss";

fieldset {
  border-radius: $border-radius;
  padding: 1em;
}

.option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;

  h3 {
    width: 100%;
    box-sizing: border-box;
  }

  &__prepayment {
    display: flex;
    flex-direction: column;

    &__details {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      label {
        label {
          font-weight: 800;
        }
      }
    }
  }

  > * {
    display: flex;
    justify-content: center;
  }

  span {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    width: 100%;

    label {
      display: flex;
      gap: 0.5em;
    }

    > label:first-of-type {
      display: flex;
      font-size: 1.2em;
      font-weight: 800;
    }
  }
}
