@import "~/styles/_variables.scss";

.card-base {
  padding: $padding-md;
  border-radius: $border-radius;
  box-shadow: $shadow;
  margin: 10px;
  background-color: $primary-white;

  * {
    max-width: 100%;
    max-height: 100%;
  }
}
