@import "~/styles/_variables.scss";

.card-base {
  padding: 15px;
  border-radius: $border-radius;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  margin: 10px;
  background-color: $primary-white;

  * {
    max-width: 100%;
    max-height: 100%;
  }
}
