.input-group {
  position: relative;
  width: 100%;
  display: flex;
  gap: 0.5em;

  input {
    font-family: inherit;
    background-color: rgba(68, 107, 158, 0.1);
    font-variant-numeric: tabular-nums;
    border: 2px solid rgba(68, 107, 158, 0);
    margin: 0;
    outline: none;
    color: #335d92;
    font-size: 1em;
  }

  // Excludes this styling for radio buttons
  input:not([type="radio"]) {
    width: calc(100% - 4em);
    padding: 1em 2em;
    border-radius: 2em;

    &:focus {
      border: 2px solid #335d92;
    }

    &:active {
      background-color: rgba(68, 107, 158, 0.2);
    }

    &:not(:placeholder-shown) ~ label,
    &:focus ~ label {
      transform: translateX(1em) translateY(-0.65em);
      font-size: 0.65em;
      padding: 1em 2em;
      color: #335d92;
    }
  }

  label {
    font-family: inherit;
    color: #335d92;
    font-size: 1em;
  }
  // Excludes this styling for labels belonging to radio buttons
  label:not(label[itemRef="radio"]) {
    position: absolute;
    left: 2px;
    top: 2px;
    padding: 1em 2em;
    pointer-events: none;
    transition: 0.5s;
  }
}

// .increment {
//   font-family: inherit;
//   padding: 1em 2em;
//   background-color: rgba(68, 107, 158, 0.1);
//   width: 200px;
//   font-variant-numeric: tabular-nums;
// }

// .increment:focus {
//   border: 2px solid #335d92;
// }

// .increment:active {
//   background-color: rgba(68, 107, 158, 0.2);
// }
