@import "~/styles/_variables.scss";

.button-base {
  font-family: inherit;
  font-size: inherit;
  padding: $padding-sm $padding-md;
  color: $primary-teal-400;
  background-color: $primary-teal-25;
  border-radius: $border-radius;
  border: 2px solid $primary-teal-25;
  outline: none;
  font-variant-numeric: tabular-nums;
  transition: all $duration-short ease-in-out;
  font-weight: 700;

  &:focus {
    border: 2px solid $primary-teal-400;
  }
  &:hover {
    background-color: $primary-teal-100;
  }
  &:active {
    background-color: $primary-grey-100;
  }
  &:disabled {
    background-color: $primary-grey-300;
    color: $primary-grey-500;
  }
}
