@import "~/styles/_variables.scss";

.input-group {
  position: relative;
  width: 100%;
  display: flex;
  gap: $gap-sm;

  input {
    font-family: inherit;
    background-color: $primary-teal-25;
    font-variant-numeric: tabular-nums;
    border: 2px solid $primary-teal-25;
    margin: 0;
    outline: none;
    color: $primary-teal-400;
    font-size: 1em;
  }

  // Excludes this styling for radio buttons
  input:not([type="radio"]) {
    width: calc(100% - 4em);
    padding: 1em 2em;
    border-radius: $border-radius;

    &:focus {
      border: 2px solid $primary-teal-400;
    }

    &:active {
      background-color: $primary-teal-100;
    }

    &:not(:placeholder-shown) ~ label,
    &:focus ~ label {
      transform: translateX(1em) translateY(-0.65em);
      font-size: 0.65em;
      padding: $padding-md $padding-lg;
      color: $primary-teal-400;
    }
  }

  label {
    font-family: inherit;
    color: $primary-teal-400;
    font-size: 1em;
  }
  // Excludes this styling for labels belonging to radio buttons
  label:not(label[itemRef="radio"]) {
    position: absolute;
    left: 2px;
    top: 2px;
    padding: 1em 2em;
    pointer-events: none;
    transition: $duration-medium;
  }
}
