.modal {
  display: flex;
  position: fixed;
  z-index: 2;
  background: #ddd;
  // padding: 1rem;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.5);

  &__inside {
    min-height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
