@import "~/styles/_variables.scss";

.base {
  font-family: inherit;
  font-size: inherit;
  padding: $padding-lg 0;
  color: $primary-teal-400;
  background-color: $primary-teal-25;
  border-radius: $border-radius;
  border: 2px solid $primary-teal-25;
  outline: none;
  width: 200px;
  font-variant-numeric: tabular-nums;
  width: 100%;
  border-spacing: 0;

  thead {
    tr {
      th {
        text-align: left;
      }
    }
  }

  tbody {
    tr {
      &:hover {
        background-color: $primary-teal-100;
      }

      td {
        max-height: 75px;
        * {
          max-height: 75px;
        }
      }

      td:first-of-type {
        padding-left: $padding-md;
      }
      td:last-of-type {
        padding-right: $padding-md;
      }
    }
  }
}
